@model List<User>


<h1>
	User List
</h1>
<hr style="border: 1px solid black;">

<table class=" table table-bordered table-striped">
	<thead class="table-dark">
		<tr>
			<td>
				ID
			</td>
			<td>
				UserName
			</td>
			<td>
				Email
			</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model.OrderBy(u => u.UserId))
		{

			<tr>
				<td>@obj.UserId</td>
				<td>@obj.UserName</td>
				<td>@obj.Email</td>
			</tr>
		}
	</tbody>
</table>
